.main {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.filterWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.total .num {
    color: #d5c127;
}

.select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}